<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-5">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="product_form">
        <%= render 'shared/product_form' %>
      </section>
    </aside>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to the IHP by Igna</h1>

  <h2>
    This is the home page for the IHP by Igna <a href="https://github.com/gitToIgna/ihp/">(github Repository)</a>
  </h2>
</div>
<% end %>